body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}










html,
body {
  height: 100%;
 
}

#main {
  position:absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  
  display:block;
}

#app {
  width: 100%;
  height: 100%;
  display:block;
  /* background-color: var(--primary-color); */

}

.form-signin {
    max-width: 100%;
}

.homepage_main {
    justify-content: center;
    /* background-color: var(--primary-color); */
}

/* body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
} */

/* html {
  background-color: var(--primary-color);
  color: var(--secondary-color);
} */

/* #dark {
  background-color: #333333;
} */

#icon{
  width: 40px;
  cursor: pointer;
}






.flexSwitchCheckDefault {
  cursor: pointer;
}

/* * {
  color: var(--secondary-color);
} */


/* .light {
  --primary-color: #ffffff;
  --secondary-color: #000000;
} */

.dark {
  --primary-color: #000000;
  --secondary-color: #ffffff;
}


.Auth-form-content {
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 7%;
}

.form-check.form-switch {
  text-align-last: left;
}

/* label.input {
  --primary-color: #000000;
  --secondary-color: #000000;
} */


#SvgjsPath1462 {
  Color: rgb(255, 0, 0);
}

.navbar.navbar-expand.navbar-dark.bg-dark {
  background-color: rgb(255, 19, 19);
}

/* .navbar.bg {
  color: blue;
} */